
#main-navbar {
  background-color:blue;
  overflow: hidden;
  float: left;
	
}

#main-navbar ul{
	
	
}

#main-navbar ul li{
	
	
}

#main-navbar ul li a:hover{
	
	
}

#navbar-container {
  width: 100;
  position: relative;
}
